<footer class="site-footer uk-position-relative uk-overflow-hidden bg-brand--charcoal">
    <div class="wrapper-x maxwidth-fluid mx-auto wrapper-x py-space-sm">
        <div uk-grid>
            <div class="uk-width-1-1 uk-width-1-2@s" uk-grid>
                <!-- <p class="mb-0 fs-mi uk-width-1-1 uk-width-1-2@m d-flx al-i-c">
                    <a class="primary-link" href="tel:{{ site.data.business_info.vcard.phone }}">
                        <span class="uk-light">Call us: </span>
                        {{ site.data.business_info.vcard.phone }}
                    </a>
                </p> -->
                <p class="mb-0 fs-mi uk-width-1-1 uk-width-1-2@m d-flx al-i-c">
                    <a class="primary-link" href="mailto:{{ site.data.business_info.vcard.email }}">
                        <span class="uk-light">Email us: </span>
                        {{ site.data.business_info.vcard.email }}
                    </a>
                </p>
            </div>
            <div class="uk-width-1-1 uk-width-1-2@s d-flx al-i-c j-c-fe@s">
                <a class="light-link d-flx al-i-c prefix--wider" href="//twitter.com/{{ site.data.business_info.social.twitter }}" target="_blank">
                    {%- include icons.html icon="logo-twitter" -%}
                </a>
                <a class="light-link d-flx al-i-c prefix--wider" href="//facebook.com/{{ site.data.business_info.social.facebook }}" target="_blank">
                    {%- include icons.html icon="logo-facebook" -%}
                </a>
                <a class="light-link d-flx al-i-c" href="//instagram.com/{{ site.data.business_info.social.instagram }}" target="_blank">
                    {%- include icons.html icon="logo-instagram" -%}
                </a>
            </div>
        </div>
    </div>
</footer>