{%- assign order = site.data.order_online -%}
<header class="site-header">
    <button class="nav-toggler mr-auto" aria-label="Toggle Navigation" uk-toggle="target: #offcanvas-reveal">
        <span class="hamburger d-blk"></span>
    </button>
    <div class="sticky-cta">
        <button type="button" class="btn--branded">
            {{ order.sticky_button.text }}
        </button>
        <div class="p-space uk-width-medium" uk-dropdown="animation: uk-animation-slide-top-small; duration: 320;">
            <a class="op-1 p-0 btn--branded" href="{{ order.sticky_button.links.oakland }}" target="_blank" rel="noopener">
                Oakland
            </a>
            <span class="m-space">or</span>
            <a class="op-1 p-0 btn--branded suffix" href="{{ order.sticky_button.links.alameda }}" target="_blank" rel="noopener">
                Alameda
            </a>
        </div>
    </div>
    <nav id="offcanvas-reveal" uk-offcanvas="mode: reveal; overlay: true">
        <h2 class="sr">Main Navigation</h2>
        <div class="uk-offcanvas-bar">
            <ul class="none uk-margin-top uk-nav" uk-scrollspy-nav="closest: li; scroll: true; duration: 100; overflow: true;">
                {% for item in site.menus.header %}
                    <li class="{% if condition %}uk-active{% endif %}">
                        <a class="scroll-trigger fw-bold uk-nav-link lh-1hh" href="{{ item.url }}" title="Go to {{ item.title }}" uk-scroll>
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <p class="vcard details-area uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom uk-margin-remove-bottom">
                <a class="vcard__link" href="https://maps.google.com/?q=4923%20Telegraph%20Ave,%20Oakland" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" target="_blank">
                    <span itemprop="streetAddress">{{ site.data.business_info.vcard.street }}</span><span class="separator">,</span>
                    <span itemprop="addressLocality">{{ site.data.business_info.vcard.city }}</span>
                    <meta itemprop="addressRegion" content="CA">
                    <meta itemprop="postalCode" content="94609">
                </a>
                <br>
                <a class="vcard__link scroll-trigger" href="/#order" itemprop="openingHours" uk-scroll>
                    {{ site.data.business_info.vcard.hours }}
                </a>
                <br>
                <a class="vcard__link" href="mailto:{{ site.data.business_info.vcard.email }}" itemprop="email">{{ site.data.business_info.vcard.email }}</a>
                <br>
                <a class="vcard__link" href="tel:{{ site.data.business_info.vcard.phone }}" itemprop="telephone">{{ site.data.business_info.vcard.phone }}</a>
            </p>
            <p class="social-links uk-padding uk-padding-remove-horizontal uk-margin-remove-bottom">
                <a class="social-links__link prefix--wider" href="//twitter.com/{{ site.data.business_info.social.twitter }}" target="_blank">
                    {%- include icons.html icon="logo-twitter" -%}
                </a>
                <a class="social-links__link prefix--wider" href="//facebook.com/{{ site.data.business_info.social.facebook }}"
                    target="_blank">
                    {%- include icons.html icon="logo-facebook" -%}
                </a>
                <a class="social-links__link" href="//instagram.com/{{ site.data.business_info.social.instagram }}" target="_blank">
                    {%- include icons.html icon="logo-instagram" -%}
                </a>
            </p>
        </div>
    </nav>
</header>