<header class="site-header">
    <button class="nav-toggler ml-auto" aria-label="Toggle Navigation" uk-toggle="target: #offcanvas-reveal">
        <span class="hamburger d-blk"></span>
    </button>
    <nav class="mobilenav" id="offcanvas-reveal" uk-offcanvas="mode: reveal; flip: true; overlay: true">
        <div class="uk-offcanvas-bar">
            <div class="title-area">
                <div class="co-white d-flx al-i-c wrapper b-border">
                    {%- include tools/icons.html icon="symbol" -%}
                    <h3 class="my-0 fw-normal co-white op-08 suffix--even-wider">
                        Navigation
                    </h3>
                </div>
            </div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem hic eligendi laboriosam optio. Maiores expedita, debitis libero possimus ea alias quia sunt laborum impedit minus, assumenda repellat facilis sapiente. Fuga?
        </div>
    </nav>
</header>