//
    // Override Library Styles
    // @package chl_v1

// Overlay
.uk-offcanvas-overlay::before
    background:         rgba(#fff, 0.05)

.uk-overlay-primary
    background:         rgba(#000,.3)


// Height
.uk-height-viewport
    height:             100vh