//
    // Override Library Styles
    // @package chl_v1

// Root
html
    color:              rgba($black, 0.75)

// Overlay
.uk-offcanvas-overlay::before
    background:         rgba(#fff, 0.00001)

.uk-overlay-primary
    background:         rgba(#000,.4)


// Heights
.uk-height-viewport
    height:             100vh


// Colors
.uk-light a
    opacity:            .8
    &:active, &:focus, &:hover
        opacity:        1
.uk-text-primary
    color:              $primarycolor!important


// Buttons
.uk-button
    text-transform:     capitalize
    transition:         $tr-default
    font-size:          inherit
.uk-button-default
    border:             2px solid
    border-radius:      40px


// Grids
.uk-grid
    margin-left:        -$space
    > *
        padding-left:   $space

*+.uk-grid-margin, .uk-grid+.uk-grid, .uk-grid>.uk-grid-margin
    margin-top:         $space

.uk-width-1-3\@m
    +mq(tb)
        width:          calc(100% * 1 / 3.001)
.uk-width-2-3\@m
    +mq(tb)
        width:          calc(100% * 2 / 3.001)
.uk-width-2-3\@l
    +mq(lg)
        width:          calc(100% * 2 / 3.001)
.uk-width-1-3\@l
    +mq(lg)
        width:          calc(100% * 1 / 3.001)


// Cards
.uk-card
    border-radius:      $halfbit
.uk-card-body
    padding:            calc(#{$space} + #{$bit})


// Sliders
.uk-dotnav
    +pos($left: 50%, $bottom: calc(#{$space-sm} + #{$bit}))
    transform:          translateX(-50%)
    > * > *
        +wh(12.5px)