//
    // Placeholders
    // @package chl_v1

%h {
    margin-top: $space-sm;
    margin-bottom: $space-xs;
    line-height: $headinglh;
    font-family: $headingfont;
    font-weight: $bold;
    color: inherit;
}

%cta {
    font-family:    $headingfont;
    font-size:      rem(17px);
    svg {
        @include wh(17px);
    }
    &:focus, &:hover, &:active {
        color:      unset;
    }
}

%btn {
    display:            inline-flex;
    align-items:        center;
    justify-content:    center;
    padding:            $space-xxs calc(#{$space-sm} - #{$bit});
    cursor:             pointer;
    min-width:          $coord-xl;
}

%maxwidth {
    width:          100%;
}

%avatar {
    object-fit:     cover;
    border-radius:  100%;
}

%caps {
    text-transform:     uppercase;
    letter-spacing:     0.99px;
}

%sr {
    position:           absolute;
    width:              1px;
    height:             1px;
    padding:            0;
    margin:             -1px;
    border:             0;
    clip-path:          inset(100%);
    overflow:           hidden;
    white-space:        nowrap;
}