//
    // Just Borders
    // @package chl_v1

.border
    border:                 $borderline
    &.dashed
        border-style:       dashed
        border-width:       1.5px
.y-border
    border-top:             $borderline
    border-bottom:          $borderline
.t-border
    border-top:             $borderline
.r-border
    border-right:           $borderline
.b-border
    border-bottom:          $borderline