//
    // Icons
    // @package chl_v1

.prefix
    margin-right:       $bit
    &--wider
        margin-right:   $bit * 2
    &--even-wider
        margin-right:   $bit * 3
.suffix
    margin-left:        $bit
    &--wider
        margin-left:    $bit * 2
    &--even-wider
        margin-left:    $bit * 3

ion-icon
    font-size:          22px
    &.small
        font-size:      32px
    &.medium
        font-size:      48px