//
    // Text Treatments
    // @package chl_v1

// Headings
h1, h2, h3, h4, .h1, .h2, .h3, .h4
    @extend %h
h1, .h1
    font-size:          1.88rem
    +mq(sm)
        font-size:      1.96rem
h2, .h2
    font-size:          1.72rem
    +mq(sm)
        font-size:      1.88rem
h3, .h3
    font-size:          1.24rem

.fw-medium
    font-weight:        $medium
.fw-bold
    font-weight:        $bold
.fw-xbold
    font-weight:        $xbold

.fs-pi
    font-size:          $pico
.fs-na
    font-size:          $nano
.fs-mi
    font-size:          $micro
.fs-sm
    font-size:          $small
    svg
        +wh($small * 1.5)
.fs-md
    font-size:          $md
    p
        font-size:      $md
.fs-lg
    font-size:          $large
    p
        font-size:      $large
.fs-xl
    font-size:          $xlarge
    p
        font-size:      $xlarge

.ff-body
    font-family:        $bodyfont

.lh-1hh
    line-height:        1.25
.lh-1h
    line-height:        1.5

.tt-u
    text-transform:     uppercase

.ls-1
    letter-spacing:     1px
.ls-1h
    letter-spacing:     1.5px

.big-headline
    font-size:          rem($base * 2.56)
    +mq(sm)
        font-size:      rem($base * 3.68)
    +mq(md)
        font-size:      rem($base * 4.96)