//
    // Single + Page
    // @package chl_v1

// Hero/Overview
.hero-content
    align-items:            center
    text-align:             center
    background:             rgba(#000,.25)
    +mq(sm)
        align-items:        flex-start
        text-align:         left
    .uk-nav > li > a
        opacity:            1
        text-shadow:        0 1px 1px rgba(0,0,0,.4)
        &:active, &:focus, &:hover
            color:          $alternatecolor!important

.recognitions
    img
        +wh(96px)
        background-color:   #fff
        border-radius:      50%
        margin-right:       $space-sm


// Menus
.menu-block
    margin-bottom:          $space
    border-radius:          8px
    background:             #fff
    &:last-of-type
        margin-bottom:      0
    .meal
        position:           relative
        padding-top:        $space
        &::after
            +pos($bottom: -$space, $left: $space)
            content:        ''
            width:          calc(100% - #{$space})
            margin-top:     $space
            border-top:     $borderline
        &:first-of-type
            padding-top:    0
        &:last-of-type::after
            content:        unset


// Order Online
.order-online
    background:             #d8d6d0 url('/images/shopping_bag.svg') no-repeat center top / cover


// Gallery
.gallery
    &__item
        position:           relative
    svg
        +pos($top: 50%, $left: 50%)
        +wh(56px)
        transform:      translate(-50%, -50%)
        background:     transparent
        fill:           rgba(#fff, 0.9)
        transition:     $tr-default
        z-index:        1
    &__image
        transition:     $tr-default
        &:active, &:focus, &:hover
            cursor:     zoom-in
            transform:  scale(0.96)
            + svg
                fill:   $primarycolor


// About
.show-more-less p:last-child
    margin-bottom:      0


// Mentions
.mentions
    .uk-card
        min-height:     192px
        min-width:      272px
        display:        flex
        flex-direction: column
        .primary-link
            margin-top: auto



// Gift Cards
.gift-cards
    .gift-card
        img
            max-width: 352px



// Contacts
.map
    height:             100%
    min-height:         392px
    padding:            0
    margin-right:       calc(-50vw + 50%)
    margin-left:        calc(-50vw + 50%)
    +mq(lg)
        padding-top:    $space-xl
        padding-bottom: $space-xl
        margin-left:    auto
