<form
    class="request-form card p-space-sm"
    name="Catering Request Form"
    method="POST"
    data-netlify="true"
    netlify-honeypot="bot-field"
    data-success-message="{{ catering.form.success_message }}"
>
    <p hidden aria-hidden="true">
        <label>
            Don’t fill this out if you're human:
            <input name="bot-field"/>
        </label>
    </p>
    <div class="mb-space" uk-grid>
        <p class="form-control uk-width-1-1 uk-width-1-2@l">
            <label for="fname">First Name</label>
            <input id="fname" type="text" name="fname" placeholder="Jane" required>
        </p>
        <p class="form-control uk-width-1-1 uk-width-1-2@l">
            <label for="lname">Last Name</label>
            <input id="lname" type="text" placeholder="Friedman" name="lname">
        </p>
    </div>
    <p class="form-control mb-space-xs">
        <label for="email">Email</label>
        <input
            id="email"
            type="email"
            name="email"
            placeholder="jane.friedman@example.com"
            size="56"
            required
        >
    </p>
    <p class="form-control mb-space-xs">
        <label for="phone">Phone</label>
        <input
            id="phone"
            type="tel"
            name="phone"
            placeholder="+1 (510) 594-7610"
            minlength="7"
            maxlength="25"
            required
        >
    </p>
    <p class="form-control mb-space-xs">
        <label for="location">Location</label>
        <input id="location" type="text" name="location" placeholder="Oakland, Alameda, or SF" required>
    </p>
    <p class="form-control mb-space-xs">
        <label for="datetime">Pick a Date & Time</label>
        <input
            id="datetime"
            type="text"
            name="datetime"
            placeholder="Select a date and time"
            required
        >
    </p>
    <div class="mb-space" uk-grid>
        <p class="form-control uk-width-1-1 uk-width-1-2@l">
            <label for="head-count">Head Count</label>
            <input
                id="head-count"
                type="number"
                name="head-count"
                placeholder="Around how many guests?"
                min="10"
                max="500"
            >
        </p>
        <p class="form-control select uk-width-1-1 uk-width-1-2@l">
            <label for="delivery-pickup">Delivery / Pickup / Onsite</label>
            <select name="delivery-pickup" id="delivery-pickup" required>
                <option value="delivery">Delivery</option>
                <option value="pickup">Pickup</option>
                <option value="onsite">Onsite</option>
            </select>
            {%- include icons.html icon="arrow-down" -%}
        </p>
    </div>
    <button class="btn--branded is-small mt-space-sm" type="submit">
        {{ catering.form.submit_button_text }}
    </button>
</form>