//
    // Containers
    // @package chl_v1

.maxwidth
    &-xs, &-sm, &-md, &-tb, &-lg, &-xl
        @extend %maxwidth
    &-xs
        max-width:  $breakpoint-xs
    &-sm
        max-width:  $breakpoint-sm
    &-md
        max-width:  $breakpoint-md
    &-tb
        max-width:  $breakpoint-tb
    &-lg
        max-width:  $breakpoint-lg
    &-xl
        max-width:  $breakpoint-xl
.maxwidth-fluid
    max-width:      100%
    +mq(sm)
        max-width:  $breakpoint-sm
    +mq(md)
        max-width:  $breakpoint-md
    +mq(lg)
        max-width:  $breakpoint-lg
    +mq(xl)
        max-width:  $breakpoint-xl

.mx-auto
    margin-right:           auto
    margin-left:            auto

.section-margin
    &-top
        margin-top:         $space-md!important
        +mq(sm)
            margin-top:     $space-lg!important
        +mq(md)
            margin-top:     $space-xl!important
    &-bottom
        margin-bottom:      $space-md
        +mq(sm)
            margin-bottom:  $space-lg
        +mq(md)
            margin-bottom:  $space-xl

.section-padding
    padding-top:            $space-md
    padding-bottom:         $space-md
    +mq(sm)
        padding-top:        $space-lg
        padding-bottom:     $space-lg
    +mq(md)
        padding-top:        $space-xl
        padding-bottom:     $space-xl
    &.add-bottom-padding\@lg
        padding-bottom:     0
        +mq(lg)
            padding-bottom: $space-xl
    &.add-top-padding\@lg
        padding-top: 0
        +mq(lg)
            padding-top: $space-xl
.section-padding-top
    padding-top:            $space-md
    +mq(sm)
        padding-top:        $space-lg
    +mq(md)
        padding-top:        $space-xl
.section-padding-bottom
    padding-bottom:         $space-md
    +mq(sm)
        padding-bottom:     $space-lg
    +mq(md)
        padding-bottom:     $space-xl

.fullbleed\@lg-down
    margin:                 0 calc(-50vw + 50%)
    +mq(lg)
        margin:             unset


.form-control
    margin:                 0
    label
        display:            block
        @extend .fs-mi
    input, textarea, select
        display:            block
        width:              100%
        border:             2px solid #d3d3d4
        border-radius:      $radius
        background:         $snow
        padding:            .56em
        @extend .fs-mi
        &:focus
            outline:        none
            background:     #fff
            border-color:   #2a6df4
            box-shadow:     0 0 0 3px rgba(#2a6df4,.2)
    textarea
        resize:             vertical
        height:             $coord-xxl
        vertical-align:     top
    .required
        display:                    inline-block
        transform:                  translate(2px, -2px)
        color:                      palette(accent)
    .icon
        fill:               none
    &.select
        position:           relative
        display:            inline-block
        select
            -webkit-appearance: none
            appearance:         none
        .icon
            position:           absolute
            top:                50%
            right:              7px
            transform:          translateY(15%)
            pointer-events:     none
