{%- assign our_menu = site.collections | where: 'label', 'our_menus' | first -%}
<section class="uk-position-relative uk-overflow-hidden" id="menu">
    <div class="wrapper-x maxwidth-fluid mx-auto section-padding">
        <h2 class="uk-margin-remove uk-text-center big-headline fw-xbold uk-text-primary section-padding-bottom">
            <span>{{ our_menu.title }}</span>
        </h2>
        <div uk-grid>
            {%- assign our_menus = site.our_menus | sort: 'order' -%}
            <div class="uk-width-1-1 uk-width-2-3@m uk-description-list uk-description-list-divider">
                {%- for menu in our_menus limit: 5 -%}
                    <div class="d-flx al-i-c j-c-sb">
                        <div class="menu__title media-object">
                            <img class="media-object__figure avatar--md uk-box-shadow-small" src="{{ menu.image }}" alt="{{ menu.title }}">
                            <h3 class="media-object__body mt-0 mb-0 fw-bold fs-md co-default">
                                {{ menu.title }}
                            </h3>
                        </div>
                        {%- if menu.price -%}
                            <div class="menu__price fw-bold fs-md co-black">
                                &#36; {{ menu.price }}
                            </div>
                        {%- endif -%}
                    </div>
                    <div>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus voluptatibus quisquam eligendi temporibus illo vero aliquid ducimus sed iste, impedit tempore commodi maiores, tenetur eveniet eos accusantium fugit odio excepturi.
                    </div>
                {%- endfor -%}
            </div>
            <div class="uk-width-1-1 uk-width-1-3@m">
                {%- for menu in our_menus offset: 5 -%}
                    <h3 class="media-object__body mt-0 mb-0 fw-bold fs-md co-default">
                        {{ menu.title }}
                    </h3>
                {%- endfor -%}
            </div>
        </dl>
    </div>
</section>