{%- assign order = site.data.order_online -%}
{%- assign info = site.data.business_info -%}
<section class="uk-position-relative uk-overflow-hidden order-online" id="order">
    <div class="wrapper-x maxwidth-fluid mx-auto section-padding">
        <h2 class="uk-margin-remove uk-text-center big-headline fw-xbold uk-text-primary section-padding-bottom">
            <span>{{ order.title | capitalize_initial_letters }}</span>
        </h2>
        <div class="maxwidth-sm mx-auto uk-text-center">
            <div class="m-0 co-gray--thin">
                {{ order.description | markdownify }}
            </div>
            <h3 class="co-black fw-bold ff-body mb-0">
                {{ order.cta_text }}
            </h3>
            <div class="pt-2 pb-1h">
                <ul class="none m-0 d-flx al-i-c j-c-c">
                    <li>
                        <a class="op-1 p-0" href="{{ info.app_stores.apple.link }}" target="_blank">
                            <span class="sr">{{ info.app_stores.apple.label }}</span>
                            <img class="app-store-badge" src="{{ site.url }}/images/app-store-badge.png" alt="iOS app store badge">
                        </a>
                    </li>
                    <li>
                        <a class="op-1 p-0" href="{{ info.app_stores.google.link }}" target="_blank">
                            <span class="sr">{{ info.app_stores.google.label }}</span>
                            <img class="app-store-badge suffix--wider" src="{{ site.url }}/images/google-play-badge.png" alt="Google Play badge">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-flx al-i-c j-c-c maxwidth-xs mx-auto">
                <button type="button" class="btn--branded">
                    {{ order.pickup.button }}
                </button>
                <div class="p-space"
                    uk-dropdown="animation: uk-animation-slide-top-small; duration: 320; boundary: .maxwidth-xs">
                    <a class="op-1 p-0 btn--branded" href="{{ order.pickup.oakland }}" target="_blank">
                        Oakland <span class="sr">Toasttab Pickup</span>
                    </a>
                    <span class="m-space">or</span>
                    <a class="op-1 p-0 btn--branded suffix" href="{{ order.pickup.alameda }}" target="_blank">
                        Alameda <span class="sr">Toasttab Pickup</span>
                    </a>
                </div>
                <span class="m-space">or</span>
                <button type="button" class="btn--branded">
                    {{ order.delivery.button }}
                </button>
                <div class="p-space"
                    uk-dropdown="animation: uk-animation-slide-top-small; duration: 320; boundary: .maxwidth-xs">
                    <a class="op-1 p-0 btn--branded" href="{{ order.delivery.oakland }}" target="_blank">
                        Oakland <span class="sr">Caviar Delivery</span>
                    </a>
                    <span class="m-space">or</span>
                    <a class="op-1 p-0 btn--branded suffix" href="{{ order.delivery.alameda }}" target="_blank">
                        Alameda <span class="sr">Caviar Delivery</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="maxwidth-sm mx-auto tx-c pt-2">
            {{ order.caviar_statement | markdownify }}
        </div>
    </div>
</section>