{%- assign order = site.data.home.order_online -%}
<section class="uk-position-relative uk-overflow-hidden order-online" id="order">
    <div class="wrapper-x maxwidth-fluid mx-auto section-padding">
        <h2 class="uk-margin-remove uk-text-center big-headline fw-xbold uk-text-primary section-padding-bottom">
            <span>{{ order.title | capitalize_initial_letters }}</span>
        </h2>
        <div class="maxwidth-sm mx-auto uk-text-center">
            <div class="m-0 co-gray--thin">
                {{ order.description | markdownify }}
            </div>
            <h3 class="co-black fw-bold ff-body mb-0">
                {{ order.call_to_action.text }}
            </h3>
            <p class="mb-0 section-padding-top d-flx al-i-c j-c-c">
                <a class="btn--branded chownow-order-online" target="_blank">
                    {{ order.call_to_action.button_1 }}
                </a>
                <span class="m-space">or</span>
                <a class="btn--branded" href="{{ order.call_to_action.link_2 }}" target="_blank">
                    {{ order.call_to_action.button_2 }}
                </a>
            </p>
        </div>
</section>