{%- assign order = site.data.order_online -%}
{%- assign info = site.data.business_info -%}
<section class="uk-position-relative uk-overflow-hidden order-online" id="order">
    <div class="wrapper-x maxwidth-fluid mx-auto section-padding">
        <h2 class="uk-margin-remove uk-text-center big-headline fw-xbold uk-text-primary section-padding-bottom">
            <span>{{ order.title | capitalize_initial_letters }}</span>
        </h2>
        <div class="maxwidth-sm mx-auto uk-text-center">
            <div class="m-0 co-gray--thin">
                {{ order.description | markdownify }}
            </div>
            <h3 class="co-black fw-bold ff-body mb-0">
                {{ order.cta_text }}
            </h3>
            <div class="pt-2 pb-1h">
                <ul class="none m-0 d-flx al-i-c j-c-c">
                    <li>
                        <a class="op-1 p-0" href="{{ info.app_stores.apple.link }}" target="_blank">
                            <span class="sr">{{ info.app_stores.apple.label }}</span>
                            <img class="app-store-badge" src="{{ site.url }}/images/app-store-badge.png" alt="iOS app store badge">
                        </a>
                    </li>
                    <li>
                        <a class="op-1 p-0" href="{{ info.app_stores.google.link }}" target="_blank">
                            <span class="sr">{{ info.app_stores.google.label }}</span>
                            <img class="app-store-badge suffix--wider" src="{{ site.url }}/images/google-play-badge.png" alt="Google Play badge">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-flx al-i-c j-c-c maxwidth-xs mx-auto mt-1">
                <a class="op-1 btn--branded" href="{{ order.pickup.oakland }}" target="_blank">
                    Pickup or Delivery
                </a>
            </div>
        </div>
    </div>
</section>