<section class="uk-position-relative uk-overflow-hidden" id="overview">
    <div class="uk-height-viewport uk-background-cover" uk-parallax="bgy: 100" data-src="{{ page.image }}" uk-img>
        <div class="uk-light uk-position-cover">
            <div class="hero-content uk-flex uk-flex-column uk-flex-center uk-height-viewport uk-padding-small">
                <div style="transform: translateY(-1.5rem)">
                    <h2 class="uk-margin-remove">
                        <img class="logo" src="/images/logo.svg" alt="{{ site.title }}">
                        <span class="sr">Overview</span>
                    </h2>
                    <div class="visible-sm-up">
                        <ul class="none uk-margin-top uk-nav" uk-scrollspy-nav="closest: li; scroll: true; duration: 100; overflow: true;">
                            {% for item in site.menus.header %}
                            {%- assign title = item.title | downcase -%}
                            {%- if title == 'overview' or title == 'mentions' -%}
                            {%- continue -%}
                            {%- endif -%}
                            <li class="{% if condition %}uk-active{% endif %}">
                                <a class="scroll-trigger uk-text-large fw-bold lh-1hh" href="{{ item.url | prepend: site.url }}"
                                    title="Go to {{ item.title }}" uk-scroll>
                                    {{ title | capitalize_initial_letters }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="recognitions uk-position-bottom uk-margin-large-top">
            <ul class="list-style-none uk-flex uk-flex-center uk-padding-small uk-overflow-auto uk-margin-remove">
                {%- assign recognitions = site.recognitions -%}
                {%- for recognition in recognitions limit 5 -%}
                    <li>
                        <span class="sr">{{ recognition.title }}</span>
                        <img class="uk-box-shadow-medium" src="{{ recognition.image }}" alt="{{ recognition.title }}">
                    </li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
</section>