{%- assign about = site.pages | where: 'name', 'about.md' | first -%}
<section class="uk-position-relative uk-overflow-hidden our-story bg-white" id="about">
    <div class="wrapper-x maxwidth-sm mx-auto section-padding">
        <h2 class="uk-margin-remove uk-text-center big-headline fw-xbold uk-text-primary section-padding-bottom">
            <span>{{ about.title | capitalize_initial_letters }}</span>
        </h2>
        <div class="full-content">
            {{ about.content | markdownify }}
        </div>
    </div>
</section>