<!doctype html>
{%- assign class = nil -%}
{%- if page.layout -%}
    {%- assign class = class | append: page.layout -%}
{%- endif -%}
<html lang="en" class="is-{{ class }}">
    {%- include shell/head.html -%}
    <body>
        <a class="sr" href="#main">Skip to content</a>
        <h1 class="sr">{{ page.title }}</h1>
        {%- unless page.layout == 'oops' or page.layout == 'alert' -%}
            <a href="/covid-19" class="critical-alert h3 m-0 wrapper tx-c icon-move-on-hover">
                Critical information regarding COVID-19.
            </a>
        {%- endunless -%}
        {%- include shell/header.html -%}
        <main id="main">
            {{ content }}
        </main>
        {%- unless page.layout == 'oops' -%}
            {%- include shell/footer.html -%}
        {%- endunless -%}
        {%- include shell/foot.html -%}
        {%- include partials/a11y.html -%}
    </body>
</html>