---
layout: default
---
{%- include partials/home/overview.html -%}
{%- include partials/home/menu.html -%}
{%- include partials/home/order.html -%}
{%- include partials/home/gallery.html -%}
{%- include partials/home/story.html -%}
<div style="min-height: 100vh; display: flex; flex-direction: column;" id="mentions">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, nobis veritatis maiores dolore quidem incidunt voluptates consequatur laudantium facere deleniti quod quia labore aut minima assumenda veniam fugit illum eius.

    <div style="align-self: flex-end; margin-top: auto;">
        <a href="" uk-totop uk-scroll></a>
    </div>
</div>
<div style="min-height: 100vh; display: flex; flex-direction: column;" id="contacts">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, nobis veritatis maiores dolore quidem incidunt voluptates consequatur laudantium facere deleniti quod quia labore aut minima assumenda veniam fugit illum eius.

    <div style="align-self: flex-end; margin-top: auto;">
        <a href="" uk-totop uk-scroll></a>
    </div>
</div>