---
layout: default
---
<section class="" id="overview">
    <div class="uk-height-viewport uk-background-cover" uk-parallax="bgy: 100"
        style="background-image: url('images/chl.jpg');">
        <div class="uk-light uk-position-cover">
            <div class="hero-content uk-flex uk-flex-column uk-flex-center uk-height-viewport uk-padding-small">
                <img class="logo" src="/images/logo.svg" alt="">
                <div class="visible-sm-up">
                    <ul class="none uk-margin-top uk-nav" uk-scrollspy-nav="closest: li; scroll: true; duration: 100; overflow: true;">
                        {% for item in site.menus.header %}
                            {%- assign title = item.title | downcase -%}
                            {%- if title == 'overview' or title == 'mentions' -%}
                                {%- continue -%}
                            {%- endif -%}
                            <li class="{% if condition %}uk-active{% endif %}">
                                <a class="scroll-trigger uk-text-large fw-medium lh-1hh" href="{{ item.url }}" title="Go to {{ item.title }}"
                                    uk-scroll>
                                    {{ title | capitalize_initial_letters }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="">
                    <p class="vcard uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom uk-margin-remove-bottom">
                        <a class="" href="https://maps.google.com/?q=4923%20Telegraph%20Ave,%20Oakland" itemprop="address"
                            itemscope="" itemtype="http://schema.org/PostalAddress" target="_blank">
                            <span itemprop="streetAddress">{{ site.vcard.street }}</span><span class="separator">,</span>
                            <span itemprop="addressLocality">{{ site.vcard.city }}</span>
                            <meta itemprop="addressRegion" content="CA">
                            <meta itemprop="postalCode" content="94609">
                        </a>
                        <br>
                        <a class=" scroll-trigger" href="/#order" itemprop="openingHours" uk-scroll>
                            {{ site.vcard.hours }}
                        </a>
                        <br>
                        <a class="" href="mailto:{{ site.vcard.email }}" itemprop="email">{{ site.vcard.email }}</a>
                        <br>
                        <a class="" href="tel:{{ site.vcard.phone }}" itemprop="telephone">{{ site.vcard.phone }}</a>
                    </p>
                    <p class="social-links uk-padding uk-padding-remove-horizontal uk-margin-remove-bottom">
                        <a class="prefix--wider" href="//twitter.com/{{ site.social.twitter }}" target="_blank">
                            <ion-icon class="small" name="logo-twitter"></ion-icon>
                        </a>
                        <a class="prefix--wider" href="//facebook.com/{{ site.social.facebook }}" target="_blank">
                            <ion-icon class="small" name="logo-facebook"></ion-icon>
                        </a>
                        <a class="" href="//instagram.com/{{ site.social.instagram }}" target="_blank">
                            <ion-icon class="small" name="logo-instagram"></ion-icon>
                        </a>
                    </p>
                    <p class="uk-margin-top uk-margin-remove-bottom hidden-sm-up">
                        <a class="uk-button uk-button-default scroll-trigger" href="/#order" itemprop="openingHours" uk-scroll>
                            Order Online
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div style="min-height: 100vh; display: flex; flex-direction: column;" id="menu">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, nobis veritatis maiores dolore quidem incidunt voluptates consequatur laudantium facere deleniti quod quia labore aut minima assumenda veniam fugit illum eius.

    <div style="align-self: flex-end; margin-top: auto;">
        <a href="" uk-totop uk-scroll></a>
    </div>
</div>
<div style="min-height: 100vh; display: flex; flex-direction: column;" id="order">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, nobis veritatis maiores dolore quidem incidunt voluptates consequatur laudantium facere deleniti quod quia labore aut minima assumenda veniam fugit illum eius.

    <div style="align-self: flex-end; margin-top: auto;">
        <a href="" uk-totop uk-scroll></a>
    </div>
</div>
<div style="min-height: 100vh; display: flex; flex-direction: column;" id="about">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, nobis veritatis maiores dolore quidem incidunt voluptates consequatur laudantium facere deleniti quod quia labore aut minima assumenda veniam fugit illum eius.

    <div style="align-self: flex-end; margin-top: auto;">
        <a href="" uk-totop uk-scroll></a>
    </div>
</div>
<div style="min-height: 100vh; display: flex; flex-direction: column;" id="gallery">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, nobis veritatis maiores dolore quidem incidunt voluptates consequatur laudantium facere deleniti quod quia labore aut minima assumenda veniam fugit illum eius.

    <div style="align-self: flex-end; margin-top: auto;">
        <a href="" uk-totop uk-scroll></a>
    </div>
</div>
<div style="min-height: 100vh; display: flex; flex-direction: column;" id="mentions">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, nobis veritatis maiores dolore quidem incidunt voluptates consequatur laudantium facere deleniti quod quia labore aut minima assumenda veniam fugit illum eius.

    <div style="align-self: flex-end; margin-top: auto;">
        <a href="" uk-totop uk-scroll></a>
    </div>
</div>
<div style="min-height: 100vh; display: flex; flex-direction: column;" id="contacts">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, nobis veritatis maiores dolore quidem incidunt voluptates consequatur laudantium facere deleniti quod quia labore aut minima assumenda veniam fugit illum eius.

    <div style="align-self: flex-end; margin-top: auto;">
        <a href="" uk-totop uk-scroll></a>
    </div>
</div>